  <div class="container-index">
    <div class="container-title">
      <h1>COCKTAILS ! 🍸 </h1>
    </div>
      <div class="add-cocktail">
      <p><%= link_to ' ➕ Add a new cocktail', new_cocktail_path %></p>
    </div>
  </div>


<div class="container-cocktail-card">
  <% @cocktails.each do |cocktail| %>
    <div class="container-cocktail-name">
      <img id="img-cocktail" src="https://source.unsplash.com/user/erondu" alt="">
      <h3 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
    </div>
  <% end %>
</div>




