
.container-name {
  display: flex;
  margin: 20px auto 30px;
  justify-content: center;
  background-color: white;
  border-radius: 30Px;
  padding: 29px;
  width: 40%;
  box-shadow: 0px 1px 10px #0c0c0c;
  }

.cocktail-container {
  margin: 20px auto 30px;
  justify-content: center;
  background-color: white;
  border-radius: 30Px;
  padding: 29px;
  width: 40%;
  box-shadow: 0px 1px 10px #0c0c0c;
  text-align: center;
  .cocktail-card {
    h3 {
    text-align: left;
    margin: 19px 0 26px 0;
    }
    li {
      list-style: none;
    }
    ul {
      padding: unset;
    }
    .title-card {
      display: flex;
      justify-content: space-between;
      a {
        color: grey;
        margin-top: 10px;
        a:hover {
          text-decoration: none;
          color: grey;
        }
      }
    }
  }
}


.all-links {
  justify-content: space-around;
  display: flex;
  a {
    color: gray;
  }
  .new-dose {
    .btn{
      input {
      background-color: #b8a199;
      border-radius: 15px;
      padding: 6px 11px;
      border-color: #b8a199;
      border-style: none;
      margin-top: 20px;
      }
    }
  }
}
